@model IEnumerable<Universidad.Models.TrazaNota>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de la traza de notas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Materia")
        </th>
        <th>
            @Html.DisplayName("Alumno")
        </th>
        <th>
            @Html.DisplayName("Profesor")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorAnterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorNuevo)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alunmos_Materias.Materias.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alunmos_Materias.Alumnos.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profesores.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorAnterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorNuevo)
        </td>
    </tr>
}

</table>
